@model IEnumerable<MVC1387.Models.Employee>

    <h3>List of Employees</h3>
    <table border="1" width="100%">
        <tr>
            <th>#</th>
            <th>EmpID</th>
            <th>Name</th>
            <th>Position</th>
        </tr>

    @{
        int row = 1;
    }

    @foreach (var employee in Model)
    {
        <tr>
            <td>@row</td>
            <td>@employee.EmpID</td>
            <td>@employee.Name</td>
            <td>@employee.Position</td>
        </tr>
        row++;
    }
</table>